/* ===== VARIABLES ===== */
:root {
   /* Colors */
   --bg-color: #ccd5ae;
   --first-color: #e9edc9;
   --white-color: #fff;
   --light-color: #fefae0;
   --brown-color: #faedcd;
   --dark-brown-color: #d4a373;
   --text-gray: #333;
   --shadow-img: 2px 2px 30px rgb(122, 207, 53, 0.5);
}

/* ===== GENERAL STYLE ===== */
* {
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   list-style: none;
   text-decoration: none;
   transition: all 0.2s linear;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background: var(--bg-color);
}

/* ===== CONTAINER ===== */
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 2.5rem 2rem;
}

.container .title {
   font-size: 4.5rem;
   text-align: center;
   color: var(--white-color);
   text-transform: uppercase;
   margin-bottom: 2rem;
   text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.container .technologies-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
   gap: 2rem;
}

.container .technologies-container .technology {
   text-align: center;
   padding: 2.5rem 2rem;
   background: var(--light-color);
   outline: 0.1rem solid var(--text-gray);
   outline-offset: -0.75rem;
   cursor: pointer;
}

.container .technologies-container .technology:hover {
   outline: 0.3rem solid var(--text-gray);
   outline-offset: 0;
   transition: all 0.3s linear;
}

.container .technologies-container .technology img {
   height: 15rem;
   object-fit: fill;
}

.container .technologies-container .technology:hover img {
   transform: scale(0.9) rotate(8deg);
   filter: drop-shadow(var(--shadow-img));
   transition: all 0.3s linear;
}

.container .technologies-container .technology h3 {
   padding: 0.7rem 0;
   font-size: 2.5rem;
   color: var(--text-gray);
}

.container .technologies-container .technology:hover h3 {
   color: var(--light-color);
   transform: scale(1.1);
   text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
   -webkit-text-stroke-width: 1.6px;
   -webkit-text-stroke-color: black;
   transition: all 0.3s linear;
}

.container .technologies-container .technology .time {
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--text-gray);
}

/* ===== TECHNOLOGY POPUP ===== */
.technology-preview {
   position: fixed;
   top: 0;
   left: 0;
   min-height: 100vh;
   width: 100vw;
   background: rgba(0, 0, 0, 0.85);
   display: none;
   align-items: center;
   justify-content: center;
}

.technology-preview .preview {
   display: none;
   position: relative;
   width: 40rem;
   background: var(--white-color);
   padding: 2.5rem 2rem;
   margin: 2rem;
   text-align: center;
   color: var(--text-gray);
}

.technology-preview .preview.active {
   display: inline-block;
}

.technology-preview .preview img {
   height: 20rem;
   object-fit: fill;
}

.technology-preview .preview .fa-times {
   position: absolute;
   top: 1rem;
   right: 1.5rem;
   font-size: 3rem;
   color: var(--text-gray);
   cursor: pointer;
}

.technology-preview .preview .fa-times:hover {
   transform: rotate(180deg);
   transition: all 0.2s linear;
   color: var(--bg-color);
}

.technology-preview .preview h3 {
   font-size: 2.5rem;
   padding: 0.5rem 0;
   columns: var(--text-gray);
}

.technology-preview .preview .stars {
   font-size: 1.75rem;
   padding: 1rem 0;
}

.technology-preview .preview .stars i {
   color: var(--bg-color);
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.technology-preview .preview p {
   color: var(--text-gray);
   line-height: 1.6;
   padding: 1rem 0;
   font-size: 1.6rem;
}

.technology-preview .preview .price {
   padding: 1rem 0;
   font-size: 2.5rem;
   font-weight: 600;
   color: var(--bg-color);
}

.technology-preview .preview .btns {
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   justify-content: center;
   margin-top: 1rem;
}

.technology-preview .preview .btns a {
   flex: 1 1 16rem;
   background: var(--text-gray);
   padding: 0.5rem 2rem;
   font-size: 1.6rem;
   color: var(--white-color);
}

.technology-preview .preview .btns a:hover {
   transform: translateY(-0.5rem) rotate(5deg);
   border: 1px solid var(--text-gray);
   background: var(--white-color);
   color: var(--text-gray);
   font-weight: 700;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
   .container .title {
      font-size: 3.5rem;
      line-height: 1.1;
   }
}
